/* Display, Margins, Screen Optimization */

#Center{
  margin: 2rem 5vh;
}

.Content{
  padding: 5vh 5vw;
}

/* Font and Letters */

a{
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: black;
}

p{
  font-family: 'Montserrat', sans-serif;
}

.Profiler{
  font-size: 2em;
}

/* Grid and Flex */

.Modules{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Headbar{
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  left: 5vw;
  right: 5vw;
  width: 90vw;
  z-index: 1;
}

/* Box, Cards, Objects */

.WeightImage{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  opacity: 0.75;
}

.Description{
  position: absolute;
  left: 0;
  transform: translate(10%, 60%);
  width: 55%;
}

/* Hover, Style, Animations */
.Modules a:hover{
  background-color: yellow;
}

/* Mobile */
@media screen and (max-width: 800px) {
  a{
    font-size: 3vw;
  }

  .Profiler{
    font-size: 5vw;
  }
}
